body {
  background-color: white;
  font-size: 16px;
  margin: 0;
  color: #333;
}

html, body, main {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

main {
  flex-direction: column;
}

header {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  position: relative;
  z-index: 5;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.status {
  margin-top: 2px;
  opacity: .5;
  font-size: 12px;
}

textarea#editor {
  flex: 1;
  resize: none;
  border: none;
  padding: 10px 10px;
  outline: none;
}